body {
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}
.title {
	width: 67%;
	height: 80px;
	display: inline-block;
	color: #45688E;
}
.title h1 {
	font-size: 1.5em;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.clicks:before {
	content: "REMAINING";
}
.clicks, .level, .points {
	display: inline-block;
	vertical-align: bottom;
	background: #45688E;
	border-radius: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	color: white;
	padding: 5px 0;
}
.clicks {
	float: right;
	width: 29%;
	padding: 0 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.level {
	min-width: 24%;
	max-width: 39%;
	padding: 6px 3px;
}
.points {
	min-width: 24%;
	max-width: 58%;
	padding: 6px 3px;
	word-break: break-all;
	word-break: break-word;
}
.clicks:after {
	content: "CLICKS";
}
.clicks:after, .clicks:before {
	display: block;
	text-align: center;
	font-size: 14px;
}
.level:before, .points:before {
	display: inline-block;
	text-align: left;
	font-size: 14px;
	margin-right: 5px;
}
.level:before {
	content: "LEVEL";
}
.points:before {
	content: "POINTS";
}
.container, .wrapper {
	width: 540px;
	position:relative;
	margin: 0 auto;
}
.container{
	height: 751px;
	border-collapse: collapse;
	overflow: hidden;
	position:relative;
}
.cell {
	display: inline-block;
	width: 45px;
	height: 45px;
	background: rgba(238, 228, 218, 0.35);
	margin: 0;
	float: left;
	cursor: pointer;
}
.cell:hover {
	background: rgba(238, 228, 218, 0.55);
}
.cell:active {
	background: rgba(238, 228, 218, 0.75);
}
.bullet {
	background: red;
	border-radius: 16px;
	width: 5px;
	height: 5px;
	position: absolute;
}
.cell-wrap {
	display: block;
	padding-bottom: 63px;
}
.cell img {
	height: 34px;
	width: 34px;
	padding: 5px;
}

@media screen and (max-width: 520px) {
	.container, .wrapper {
		width: 304px;
	}
	.container {
		height: 456px;
	}
	.cell {
		width: 25px;
		height: 25px;
	}
	.cell img {
		height: 20px;
		width: 20px;
		padding: 3px;
	}
	.bullet {
		width: 3px;
		height: 3px;
	}
}
